@charset "ISO-8859-1";
body
{
	background-color: gray;
	font-family: sans-serif;color: black;
}

.error
{color: red;}

table
{
	border: #38D9CD;
	background-color: #F3E9E9;
}
td{
	border: none;
	align-items:center;
}
tr
{
	
}